
<div class="register-container">
  <h2>Registro de Usuario</h2>
  <form (ngSubmit)="register()">
    <div>
      <label for="nombre">Nombre:</label>
      <input type="text" id="nombre" [(ngModel)]="nombre" name="nombre" required>
    </div>
    <div>
      <label for="cedula">Cédula:</label>
      <input type="text" id="cedula" [(ngModel)]="cedula" name="cedula" required>
    </div>
    <div>
      <label for="fechaNacimiento">Fecha de Nacimiento:</label>
      <input type="date" id="fechaNacimiento" [(ngModel)]="fechaNacimiento" name="fechaNacimiento" required>
    </div>
    <div>
      <label for="email">Email:</label>
      <input type="email" id="email" [(ngModel)]="email" name="email" required>
    </div>
    <div>
      <label for="contrasena">Contraseña:</label>
      <input type="password" id="contrasena" [(ngModel)]="contrasena" name="contrasena" required>
    </div>
    <button type="submit">Registrar</button>
  </form>
</div>
<app-register></app-register>
