<h2>Departamentos</h2>
<form (ngSubmit)="agregarDepartamento()">
    <input [(ngModel)]="nuevoDepartamento.codigo" name="codigo" placeholder="Código" required>
    <input [(ngModel)]="nuevoDepartamento.nombre" name="nombre" placeholder="Nombre" required>
    <button type="submit">Agregar Departamento</button>
</form>

<ul>
    <li *ngFor="let departamento of departamentos">
        {{ departamento.nombre }}
        <button (click)="eliminarDepartamento(departamento._id)">Eliminar</button>
    </li>
</ul>

